<div class="flex-container">
  <div class="row">
    <div class="col-md-12 mb-2 text-center">
      <p> <label class="h4 custom-color-label">Password Generator</label></p>
    </div>
  </div>
  <div class="inputbox row">
    <div class="col-md-12 mb-2 input-container">
      <input type="text" class="form-control" [value]="generatedPassword" #inputField
        (change)="inputValueChange($event)" />
      <i class="fa fa-copy copy-icon" (click)="copyToClipboard(inputField)"></i>
    </div>
  </div>
  <div class="bordered-div row mt-2">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6"> Charcter Length</div>
        <div class="col-md-6 d-flex justify-content-end">{{passwordLength}}</div>
      </div>
      <div class="col-md-12">
        <input class="slider-container" type="range" [(ngModel)]="passwordLength" min="0" [max]="20" (change)="onRangeChange($event)">
      </div>
    </div>
    <p>
      <label>
        <input type="checkbox" [formControl]="uppercaseFormControl">
        Include upper case
      </label>

    </p>
    <p>
      <label>
        <input type="checkbox" [formControl]="lowercaseFormControl">
        Include lower case
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" [formControl]="numbersFormControl">
        Include number
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" [formControl]="specialCharactersFormControl">
        Include symbols
      </label>
    </p>
    <div class="bordered-div">
      <div id="password-strength-bar">
        <div id="password-strength-indicator"></div>
      </div>
      <div id="password-strength-text">Strength: <span id="strength-text">Weak</span></div>
    </div>
    <button type="button" class="btn btn-outline-primary mt-2" (click)="generatePassword()">Generate Password</button>
  </div>
</div>
<router-outlet></router-outlet>